.about-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* Adjust the space between the left and right sections */
  }

  .about-left {
    flex: 1;
  }

  .about-left video {
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* Space between the text and the video */
  }

  .about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .about-right ul li {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }

  .about-right .about-picture {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    /* Space between the picture and key features */
  }

  .about-right ul i {
    flex-shrink: 0;
    font-size: 48px;
    color: var(--accent-color);
    margin-right: 20px;
  }

  .about-right ul h5 {
    font-size: 18px;
    font-weight: 700;
  }

  .about-right ul p {
    font-size: 15px;
  }